{% extends "general/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/style.css' %}">
{% endblock %}
{% block title %}Game Details{% endblock %}
{% block content %}
	<div class="row h-100 mx-auto align-items-center">
		<div class="col-12">
			<div class="card flex-row flex-wrap">
				<div class="card-header border-0">
				    {% if game.imageURL %}
			    		<img class="img-fluid rounded" src="{{game.imageURL}}" alt="No Image">
			    	{% else %}
			    		<img class="img-fluid rounded" src="/static/general/no_image_available.jpg" alt="No Image">
			    	{% endif %}
				</div>
				<div class="card-block px-2">
				    <h4 class="card-title">{{game.title}}</h4>
				    <p class="card-text">{{game.description}}</p>
				    <p><b>Platforms:</b>
				    {% for p in game.platforms.all %}
			    	<span>{{p}},</span>
			    	{% endfor %}
			    	</p>
				    <p><b>Genres:</b>
				    {% for g in game.genres.all %}
			    	<span>{{g}},</span>
			    	{% endfor %}
			    	</p>
			    	<p><b>Tags:</b>
				    {% for t in game.tags.all %}
			    	<span>{{t}},</span>
			    	{% endfor %}
			    	</p>
				    <p><b>Authors:</b>
				    {% for a in game.authors.all %}
			    	<span>{{a}},</span>
			    	{% endfor %}
			    	</p>
			    	{% if likeDislikeForm %}
			    	<form method="POST">
						<span class="form-group">
					    {{ likeDislikeForm }}
					    {% csrf_token %}
					    </span>
					    <button type="submit" class="btn btn-dark">Submit</button>
					</form>
			    	{% endif %}
				</div>
				<div class="w-100"></div>
				<div class="card-footer w-100 text-muted">
					<span class="badge"><b>Status: </b>{{game.status}}</span>
					<span class="badge"><b>Date of the last version: </b>{{game.lastVersionDate}}</span>
					<span class="badge"><a class="custom-link" href="{{game.downloadURL}}">Download URL</a></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}